<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPA HUB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A50E4E41D430C5600E14E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A50E4F81D430C5600E14E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A50E5031D430C5600E14E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
